$color-feedback-card-link: #8d81ac !default;

.FeedbackCard {
  width:100%;
  margin:0;
  padding:2em 0;

  &-Author {
    margin-bottom: 8px;
  }
  &-Avatar {
    border-radius: 50%;
    margin: 0 auto 13px auto;
    width: 85px;
    height: 85px;
    overflow: hidden;
  }
  &-Name {
    color: #474747;
    font-size: 1.5em;
    line-height: 1.25em;
    padding: 0.25em 0;
    font-weight: 700;
    text-align: center;
    margin: 0;
  }
  &-Nick {
    color: $color-feedback-card-link;
    text-align: center;
    margin: -5px auto 0 auto;
    display: block;

  }
  &-Text {
    font-family:$font-family-lato;
    line-height:1.5em;
    text-align: center;
    padding:0.5em 0;
    margin:0;
    & a{
      color: $color-feedback-card-link;
    }
  }
  &-Time {
    color:#848e97;
    margin-top:-6px;
    text-align: center;
    padding:0.5em 0;
  }
}