$color-feedback-card-link: #8d81ac !default;

.FeedbackCard {

  margin:0;
  padding:2em 0;
  width:100%;

  &-Author {
    margin-bottom: 8px;

    @include respond-to-screen(md,lg) {
      align-items: center;
      display:flex;
      justify-content: flex-end;
      margin-bottom: 32px;
    }
  }
  &-Avatar {
    border-radius: 50%;
    height: 85px;
    margin: 0 auto 13px auto;
    overflow: hidden;
    width: 85px;

    @include respond-to-screen(md,lg) {
      flex-basis: 85px;
      flex-grow: 0;
      flex-shrink: 0;
      margin: 0 22px 0 auto;
    }
  }
  &-Title{

    margin:0;
    text-align: center;

    @include respond-to-screen(md,lg) {
      flex-basis: 52.5%;
      flex-grow: 0;
      flex-shrink: 0;
      text-align: left;
    }
  }
  &-Name {
    color: #474747;
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.25em;
    margin: 0;
    padding: 0.25em 0;



  }
  &-Nick {
    color: $color-feedback-card-link;
    display: block;
    margin: -5px 0 0 0;


  }
  &-Text {
    font-family:$font-family-lato;
    line-height:1.5em;
    margin:0;
    padding:0.5em 0;
    text-align: center;

    & a{
      color: $color-feedback-card-link;
    }
    @include respond-to-screen(md,lg) {
      font-size:1.25em;
      line-height:1.625em;
      padding:0.5em 0;
    }
  }
  &-Time {
    color:#848e97;
    margin-top:-6px;
    padding:0.5em 0;
    text-align: center;


    @include respond-to-screen(md,lg) {
      margin-top:2px;
    }
  }
}