@import 'colors',  'media', 'fonts', '../Button/Button', '../Section/Section', '../Page/Page';


.App {
	color: $color-font-main;
	background: $color-background-main;
	font-size:1em;
	line-height:1.375em;
	padding:0;
	margin:0;
	font-family: $font-family-monserrat;
}

