.Carousel{
  &-Screen{
    overflow: hidden;
  }
  &-Items{
    display:flex;
    transform:translateX(0);
    transition: transform .6s ease,-webkit-transform .6s ease;
  }
  &-Item{
    flex-basis:100%;
    flex-grow: 0;
    flex-shrink: 0;
    width:100%;
  }

}