$color-background-section-lightest: white !default;
$color-background-section-light: #f4f4f4 !default;
$color-background-section-medium: #777777 !default;
$color-background-section-dark: #27262a !default;
$color-background-section-darkest: #000000 !default;

.Section{
	&_background_lightest{
		background-color: $color-background-section-lightest;
	}
	&_background_light{
		background-color: $color-background-section-light;
	}
	&_background_medium{
		background-color: $color-background-section-medium;
	}
	&_background_dark{
		background-color: $color-background-section-dark;
	}
	&_background_darkest{
		background-color: $color-background-section-darkest;
	}
	&_background_violet{
		background-color: #4b3b4e;
	}
	&_position_sticky{
		position:sticky;
		top: 0;
		z-index:1;
	}
}
